
@font-face {
    font-family: elliotPro;
    src: url('../fonts/FSElliotPro.ttf');
}

@font-face {
    font-family: elliotPro-Bold;
    src: url('../fonts/FSElliotPro-Bold.ttf');
}

@font-face {
    font-family: elliotPro-Heavy;
    src: url('../fonts/FSElliotPro-Heavy.ttf');
}

@font-face {
    font-family: elliotPro-Light;
    src: url('../fonts/FSElliotPro-Light.ttf');
}





